$background: rgb(32, 32, 32);
$accent:  #0e94ff;

.App {
  text-align: center;
  font-size: 16px;
  padding: 0 4em;
}

.App-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  padding: 2em 0em;
  font-size: 1em;
  color: rgb(255, 255, 255);
  h1{
    font-size: 5em;
  }
}

.Menu {
  ul{
    display:flex;
    list-style: none;
    padding: 0;
    font-size: 1.2em;
    li{
      margin: 0 .6em;
      background: none;
      
       a{
        color: white;
        text-decoration: none;
        border-bottom: 4px solid transparent;
        transition: border-bottom-color 0.4s ease;

         &:visited{
           color: white;
         }
         &:hover{
           border-bottom-color: $accent;
         }
       }
    }
  }
}

body {
  background-color: $background;
}